<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
            <h1>Reset Password</h1>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <input type="email" name="email" class="icon-email" placeholder="Email ID" required>
                <input type="password" name="new_password" class="icon-password" placeholder="New Password" required>
                <input type="password" name="confirm_password" class="icon-password" placeholder="Confirm Password" required>
                <button type="submit" class="login-btn">Update Password</button>
            </form>
            <div class="register-line"><br>
                <a href="{{ url_for('auth.login_page') }}">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>
