<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
          <h1>Register</h1>
          <form method="POST">
            <input type="email" name="username" class="icon-email" placeholder="Email ID" required>
            <input type="password" name="password" class="icon-password" placeholder="Password" required>
            <input type="password" name="confirm_password" class="icon-password" placeholder="Confirm Password" required>
            <button type="submit" class="login-btn">Register</button>
          </form>
          <div class="register-line"><br>
            <a href="{{ url_for('auth.login_page') }}">Back to Login</a>
        </div>
      </div>
</body>
</html>