<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    {%block head%}<!--jinga-->{%endblock%}
</head>
<body>
    <div class="navbar">
        <div class="brand">SCHOOL PERFORMANCE ANALYSIS</div>
  
        <nav>
            <a href="/home" class="{% if request.path=='/home' %}active{% endif %}">
                <i class="fa-solid fa-house"></i> Home
            </a>
  
            <a href="/about" class="{% if request.path=='/about' %}active{% endif %}">
                <i class="fa-solid fa-circle-info"></i> About Us
            </a>
  
            <a href="/leaderboard" class="{% if request.path=='/leaderboard' %}active{% endif %}">
                <i class="fa-solid fa-trophy"></i> Leaderboard
            </a>

            <a href="/profile" class="{% if request.path=='/profile' %}active{% endif %}">
                <i class="fa-solid fa-circle-user"></i>
            </a>

        </nav>
    </div>
    {%block body%}{%endblock%}
</body>
</html>