<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <nav>
    <a href="#" class="logo">Study Performance Analysis/a>
    <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="#">Student Data</a></li>
        <li><a href="#">leaderboard</a></li>
        <li><a href="#">About us</a></li>
    </ul>
  </nav>
  <form action="/data"  method="post">
    <input type="number" name="class" placeholder="Enter the class"><br>
    <select name="section" id="sec">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>